@model BNB.ProjetoReferencia.WebUI.ViewModel.Views.Manifesto.ManifestoNewViewModel

@using BNB.ProjetoReferencia.WebUI.Helpers.Erros

@{
    ViewBag.Title = "Consultar Manifestos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("TotalLinhasManifestos", 1)
<input id="document-id" data-document-id="new" type="hidden" />
<input id="usuario-logado" type="hidden" value="@ViewBag.UsuarioLogado" />
<div class="ui content">
    <div class="ui modal" id="loading-modal">
        <div class="ui active dimmer">
            <div class="ui indeterminate text loader">Aguarde...</div>
        </div>
        <p></p>
    </div>
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="section">Inicio</a>
                    <div class="divider"> / </div>
                    <a href="@Url.Action("Registrar", "Manifesto")" class="section">Manifesto</a>
                    <div class="divider"> / </div>
                    <div class="active section">@ViewBag.Title</div>
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui card fluid">
                    <div class="content">
                        <div class="header title">Manifesto</div>
                    </div>
                    <div class="content">
                        <div class="ui segment basic clearing">
                            <span class="ui mini right floated c-red f-italic">
                                <b>* </b> Campos de preenchimento obrigatório.
                            </span>
                            <div class="ui orange left floated header middle">
                                @ViewBag.Title
                            </div>
                        </div>
                        @if (ViewBag.Erros != null)
                        {
                            Html.RenderPartial("_ErrosDeValidacao", (IEnumerable<ErroValidacao>)ViewBag.Erros);
                        }
                        @if (ViewBag.Pendencias != null)
                        {
                            @* Html.Partial("_ErrosDeValidacao", (IEnumerable<ErroValidacao>)ViewBag.Pendencias); *@
                        }
                        <div id="erros-validacao"></div>
                        <div class="field">
                            <div id="failMessage" class="requiredFields ui negative @(ViewBag.requiredFields != null && ViewBag.requiredFields ? "visible" : "hidden") small message">
                                <i class="close icon"></i>
                                <div class="header">
                                    Dados obrigatórios não informados ou preenchidos incorretamente
                                </div>
                                <br />
                                <ul class="list">
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                </ul>
                            </div>
                        </div>
                        <div class="ui form">
                            @Html.AntiForgeryToken()
                            <div class="fields">
                                <div class="field three wide required">
                                    @Html.LabelFor(model => model.CPFOuCNPJ)
                                    @Html.TextBoxFor(model => model.CPFOuCNPJ, new
                                        {
                                            @class = "control-input",
                                            onkeyup = "mascara(this, mcnpj);",
                                            @tabindex = "1"
                                        })
                                </div>
                                <div class="align-items-end">
                                    <div class="ui icon buttons">
                                        <a class="ui button icon labeled bgm-orange-bnb btnReportarHorasEmLote" id="btn-consultarManifestos"><i class="search icon"></i>Pesquisar</a>
                                    </div>
                                </div>
                            </div>
						</div>
                    </div>
                    <div class="ui content">
                        <div class="content">
                            <div class="field">
                                <div class="field right floated" id="global-filter-demanda" name="global-filter-demanda" hidden>
                                    <div class="ui icon input">
                                        <i class="search icon"></i>
                                        <input type="text" id="globalFilterConsultarDemanda" onkeyup="javascript:forceLower(this);" placeholder="Digite para filtrar" size="50">
                                    </div>
                                </div>
                                <div id="listaManifestos"></div>
                                <div class="field right floated elevated volume-demanda" id="volume-demanda" name="volume-demanda">
                                    <a class="ui button icon labeled bgm-orange-bnb" id="btnDownload" href="#" onclick="javascript:ExportarDados();"><i class="download icon"></i>Exportar Excel</a>
                                    <span class="ui larger" name="volumeManifestos" id="volumeManifestos"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/Scripts/mascaras.js"></script>
    <script src="~/Scripts/Manifesto/Consultar.js"></script>

    <script>
        var info;
    </script>
}