@model BNB.ProjetoReferencia.WebUI.ViewModel.Views.Manifesto.ManifestoNewViewModel

@using BNB.ProjetoReferencia.WebUI.Helpers.Erros

@{
    ViewBag.Title = "Manifestar Interesse";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listaTipoPessoa = ViewData["TiposPessoas"] as IList<BNB.ProjetoReferencia.Core.Domain.Util.TipoPessoa>;
    var listaTipoCustodia = ViewData["TiposCustodias"] as IList<BNB.ProjetoReferencia.Core.Domain.Util.TipoCustodia>;
}
<input id="document-id" data-document-id="new" type="hidden" />
<input id="usuario-logado" type="hidden" value="@ViewBag.UsuarioLogado" />
<div class="ui content">
    <div class="ui modal" id="loading-modal">
        <div class="ui active dimmer">
            <div class="ui indeterminate text loader">Aguarde...</div>
        </div>
        <p></p>
    </div>
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="section">Inicio</a>
                    <div class="divider"> / </div>
                    <a href="@Url.Action("Registrar", "Manifesto")" class="section">Manifesto</a>
                    <div class="divider"> / </div>
                    <div class="active section">@ViewBag.Title</div>
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui card fluid">
                    <div class="content">
                        <div class="header title">Manifesto</div>
                    </div>
                    <div class="content">
                        <div class="ui segment basic clearing">
                            <span class="ui mini right floated c-red f-italic">
                                <b>* </b> Campos de preenchimento obrigatório.
                            </span>
                            <div class="ui orange left floated header middle">
                                @ViewBag.Title
                            </div>
                        </div>
                        @if (ViewBag.Erros != null)
                        {
                            Html.RenderPartial("_ErrosDeValidacao", (IEnumerable<ErroValidacao>)ViewBag.Erros);
                        }

                        <div class="field">
                            <div id="message" class="ui negative message hidden">
                                <i class="close icon"></i>
                                <p id="messageContent">@ViewBag.TempError</p>
                            </div>
                            <br />
                        </div>

                        @if (ViewBag.Pendencias != null)
                        {
                            @* Html.Partial("_ErrosDeValidacao", (IEnumerable<ErroValidacao>)ViewBag.Pendencias); *@
                        }
                        <div id="erros-validacao"></div>
                        <div class="field">
                            <div id="failMessage" class="requiredFields ui negative @(ViewBag.requiredFields != null && ViewBag.requiredFields ? "visible" : "hidden") small message">
                                <i class="close icon"></i>
                                <div class="header">
                                    Dados obrigatórios não informados ou preenchidos incorretamente
                                </div>
                                <br />
                                <ul class="list">
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                </ul>
                            </div>
                        </div>
                        <div class="field">
                            <div id="message" class="ui @(ViewBag.SucessoInsercao != null ? "visible" : "hidden") @(ViewBag.SucessoInsercao  != null && ViewBag.SucessoInsercao ? "positive" : "negative") message">
                                <i class="close icon"></i>
                                <p id="messageContent">@(ViewBag.SucessoInsercao != null && ViewBag.SucessoInsercao ? "Operação realizada com sucesso" : "Não foi possível realizar a operação")</p>
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        {
                            <div class="ui form paddingTop8">
                                @Html.AntiForgeryToken()
                                <div class="fields">
                                    <div class="field three wide required">
                                        @Html.LabelFor(model => model.CPFOuCNPJ)
                                        @Html.TextBoxFor(model => model.CPFOuCNPJ, new
                                            {
                                                @class = "control-input",
                                                onkeyup = "mascara(this, mcnpj);",
                                                @tabindex = "1"
                                            })
                                    </div>
                                    <div class="align-items-end">
                                        <div class="ui icon buttons">
                                            <a class="ui button icon labeled bgm-orange-bnb" id="btn-consultar"><i class="search icon"></i>Pesquisar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui segment">
                                    <div class="ui clearing segment basic clearing no-padding">
                                        <h4 class="ui dividing header bdr-orange left"> Dados do Cliente </h4>
                                    </div>
                                    <div class="fields">
                                        <div class="field two wide required disabled" id="field_TipoPessoa">
                                            @Html.LabelFor(model => model.TipoPessoa)
                                            @Html.DropDownListFor(model => model.TipoPessoa, new SelectList(listaTipoPessoa, "Codigo", "Descricao"), new { @class = "control-dropdown", @tabindex = "2" })
                                        </div>
                                        <div class="field eight wide required disabled" id="field_NomeInvestidor">
                                            @Html.LabelFor(model => model.NomeInvestidor, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.NomeInvestidor, new
                                                {
                                                    @class = "control-input",
                                                    @tabindex = "3",
                                                    @disabled = "disabled"
                                                })
                                        </div>
                                        <div class="field two wide required disabled" id="field_telefone">
                                            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Telefone, new
                                                {
                                                    @class = "control-input",
                                                    @tabindex = "4",
                                                    @disabled = "disabled"
                                                })
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div class="field five wide required disabled" id="field_endereco">
                                            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Endereco, new
                                                {
                                                    @class = "control-input",
                                                    @tabindex = "5",
                                                    @disabled = "disabled"
                                                })
                                        </div>
                                        <div class="field five wide required disabled" id="field_email">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Email, new
                                                {
                                                    @class = "control-input",
                                                    @tabindex = "6",
                                                    @disabled = "disabled"
                                                })
                                        </div>
                                        <div class="align-items-end">
                                            <div class="ui icon buttons">
                                                <a class="ui button icon labeled bgm-orange-bnb" id="btn-atualizarcliente"><i class="user icon"></i>Atualizar cliente</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="field three wide required disabled" id="field_TipoCustodia">
                                        @Html.LabelFor(model => model.TipoCustodia)
                                        @Html.DropDownListFor(model => model.TipoCustodia, new SelectList(listaTipoCustodia, "Codigo", "Descricao"), "Custódia Própria", new { @class = "control-dropdown", @tabindex = "7" })
                                    </div>
                                    <div class="field three wide required disabled" id="field_QuantidadeMaxima">
                                        @Html.LabelFor(model => model.QuantidadeMaxima)
                                        @Html.TextBoxFor(model => model.QuantidadeMaxima, new
                                            {
                                                @class = "control-input",
                                                @tabindex = "7",
                                                @type = "number",
                                                @min = "1",
                                                @disabled = "disabled"
                                            })
                                    </div>
                                </div>
                                <div class="fields" >
                                    <div class="field three wide required disabled" id="field_quantidade">
                                        @Html.LabelFor(model => model.Quantidade)
                                        @Html.TextBoxFor(model => model.Quantidade, new
                                            {
                                                @class = "control-input",
                                                @tabindex = "8",
                                                @type = "number",
                                                @min = 1,
                                                @max = 1,
                                                @disabled = "disabled"
                                            })
                                    </div>
                                    <div class="field three wide required disabled">
                                        @Html.LabelFor(model => model.ValorAcao, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.ValorAcao, "0", new
                                            {
                                                @tabindex = "9",
                                                @class = "control-input currency",
                                                @onkeyup = "mascara(this, mmoeda);",
                                                @disabled = "disabled"
                                            })
                                    </div>
                                    <div class="field three wide required disabled">
                                        @Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.ValorTotal, "0", new
                                            {
                                                @tabindex = "10",
                                                @class = "control-input currency",
                                                @onkeyup = "mascara(this, mmoeda);",
                                                @disabled = "disabled"
                                            })
                                        @Html.HiddenFor(model => model.MatriculaSolicitante, null )
                                    </div>
                                </div>
                                <div class="field right floated">
                                    @* @Html.ActionLink("Cancelar", "Index", "Home", new { }, new { @class = "ui button bgm-gray-bnb" }) *@
                                    <a class="ui button bgm-gray-bnb" id="btn-limpar" onclick="LimparCamposButton()">Limpar campos</a>
                                    <button class="ui button bgm-wine-bnb icon labeled" type="submit" id="save-button">
                                        <i class="save icon"></i>
                                        Manifestar interesse
                                    </button>
                                </div>
							</div>
                        }
                    </div>
                    <div class="content">
                        <div class="field">
                            <div class="field right floated" id="global-filter-demanda" name="global-filter-demanda" hidden>
                                <div class="ui icon input">
                                    <i class="search icon"></i>
                                    <input type="text" id="globalFilterConsultarDemanda" onkeyup="javascript:forceLower(this);" placeholder="Digite para filtrar" size="50">
                                </div>
                            </div>
                            <div id="listaManifestos"></div>
                            <div class="field right floated elevated volume-demanda" id="volume-demanda" name="volume-demanda">
                                <a class="ui button icon labeled bgm-orange-bnb" id="btnDownload" href="#" onclick="javascript:ExportarDados();"><i class="download icon"></i>Exportar Excel</a>
                                <span class="ui larger" name="volumeManifestos" id="volumeManifestos"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui content">
    
</div>
<div class="ui longer modal" id="PixDetalhe">
    <i class="close icon"></i>
    <div class="header">PIX</div>
    <div class="ui container center aligned bootstrap">
        <img id="imgPix" class="w-50" />
        <div class="ui container center aligned">
            <h5 class="">Pix copia e cola:</h5>
            <p id="pixCopiaCola"></p>
            <h4 class="b container center aligned mb-5">
                <a class="text-danger" href="" id="linkPixModalTermo">Para a conclusão do processo, clique aqui para baixar o termo e colher as assinaturas.</a>
            </h4>
            <div class="ui icon buttons mr-1">
                <a class="ui button icon labeled bgm-orange-bnb mr-1" id="btn-copyPix"><i class="copy icon"></i>Copiar PIX</a>
            </div>
            <div class="ui icon buttons">
                <a class="ui button icon labeled bgm-wine-bnb" href="" id="btnPixModalTermo"><i class="download icon"></i>Baixar termo</a>
            </div>
        </div>
        <br /><br />
    </div>
</div>
<div class="ui modal" id="loadingModal">
    <div class="ui active dimmer">
        <div class="ui indeterminate text loader">Aguarde...</div>
    </div>
    <p></p>
</div>

@section Scripts {

    <script src="~/Scripts/mascaras.js"></script>
    <script src="~/Scripts/Layout/closeEventMessages.js"></script>
    <script src="~/Scripts/Manifesto/Consultar.js"></script>
    <script src="~/Scripts/Manifesto/Registrar.js"></script>
}