@using BNB.ProjetoReferencia.Core.Domain.ExternalServices.Interfaces
@using BNB.ProjetoReferencia.WebUI.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - S493 - Sistema de Subscrição de Ações</title>
    <link href="~/Images/bnb_icon.ico" rel="shortcut icon" type="image/x-icon" />

    @***CSS****@
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/font-google.css" rel="stylesheet">
    <link href="~/css/primeui.min.css" rel="stylesheet">
    <link href="~/css/semantic.min.css" rel="stylesheet">
    <link href="~/css/bnb/bnb-theme.css" rel="stylesheet">
    <link href="~/css/BNBCustom.css" rel="stylesheet">
    <link href="~/css/bnb/style.css" rel="stylesheet">

    @***JAVASCRIPT****@
    <script type="text/javascript" src="~/Scripts/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
</head>
<body>
    <div id="main-loading-dimmer">
        <div class="ui indeterminate text loader">Aguarde...</div>
    </div>
    <div class="block-header">
        <div class="ui menu">
            <div class="ui fixed fluid container">
                <div class="item sidebar">
                    <i class="sidebar large icon" id="botao-menu-principal"></i>
                    <i class="arrow left large icon"></i>
                </div>

                <div class="header item"><img class="ui logo" src="~/Images/bnb-logo-min.png" /></div>
                <span class="item">S493 - SISTEMA DE SUBSCRIÇÃO DE AÇÕES</span>

                <div class="right menu">
                    <div class="ui dropdown pointing top right item">
                        <i class="ellipsis vertical large icon"></i>
                        <div class="menu">
                            <a class="item"><i class="help icon"></i> Sobre o Sistema</a>
                        </div>
                    </div>
                    <div class="ui dropdown pointing top right item">
                        <i class="user circle large icon"></i>
                        <div class="menu">
                            <a class="item"><i class="user icon"></i> @Html.Raw($"{ViewBag.Colaborador.Nome} - {ViewBag.Colaborador.Matricula.ToUpper()}")</a>
                            <a class="item"><i class="building outline icon"></i> BANCO DO NORDESTE</a>
                            <a class="item"><i class="address card outline icon"></i> @Html.Raw($"{ViewBag.Colaborador.Email}")</a>
                            <a class="item" id="logout_action" href="@Url.Action("Logout", "Home")"><i class="close icon"></i>SAIR</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="ui bottom attached segment pushable">
        <div class="ui inverted left vertical accordion sidebar menu">

            <a href="@Url.Action("Index", "Home")" class="item">
                <i class="home icon"></i>
                Início
            </a>
            <div class="item">
                <a class="title">
                    <i class="dropdown icon"></i>
                    Manifesto
                </a>
                <div class="content">
                    <div class="ui vertical text menu">
                        <a href="@Url.Action("Registrar", "Manifesto")" class="item">Manifestar interesse</a>
                        <a href="@Url.Action("Consultar", "Manifesto")" class="item">Consultar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pusher">
            <div class="ui basic segment">
                @RenderBody()
                <br />
                <footer class="footer">
                    <div class="ui container center aligned">
                        <h5 class="ui header text grey">
                            &copy; Banco do Nordeste do Brasil
                            <div class="sub header">Versão @VersionHelper.GetAssemblyVersion()</div>
                        </h5>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <div class="ui modal loadPorFuncao" id="loadingMainModal">
        <div class="ui active dimmer">
            <div class="ui indeterminate text loader">Aguarde...</div>
        </div>
        <p></p>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Scripts/x-tag-core.min.js"></script>
    <script type="text/javascript" src="~/Scripts/primeui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/primeelements.min.js"></script>
    <script type="text/javascript" src="~/Scripts/semantic.js"></script>cl
    <script type="text/javascript" src="~/Scripts/bnb-theme.js"></script>


    @await RenderSectionAsync("scripts", required: false)

    <script type="text/javascript">
        var gintMaxFileSize = 157286400;
        var gstrMaxFileSize = '150MB';

        $('.control-input').puiinputtext();
        $('.control-textarea').puiinputtextarea();
        $('.control-dropdown').puidropdown({
            filter: true,
            filterMatchMode: 'contains'
        });
        $('.control-checkbox').puicheckbox();
        $('.control-radio').puiradiobutton();
        $('.control-switch').puiswitch();
        $('.control-accordion').puiaccordion();
        $('.control-pagination').puipaginator({
            totalRecords: 50,
            rows: "5"
        });
        $('.control-fieldset').puifieldset({
            toggleable: true
        });
        $('.control-slideChange').puiinputtext();
        slideChange = function (events, value) {
            $('.control-slideChang').val(value.value)
        };

        $('.date').datepicker({
            dateFormat: 'dd/mm/yy',
            language: "pt-BR",
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        });

        $(".currency").keypress(function (e) {
            return e.metaKey ||
                e.which <= 0 ||
                e.which == 8 ||
                /[0-9]/.test(String.fromCharCode(e.which));
        });

        $('.numeric').keypress(function (e) {
            return e.metaKey ||
                e.which <= 0 ||
                e.which == 8 ||
                e.ctrlKey ||
                /[0-9]/.test(String.fromCharCode(e.which));
        });

        var ROOT_URL = "@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}")"

        function ConvertDate(date) {
            var date = date;
            var datearray = date.split("/");

            return datearray[1] + '/' + datearray[0] + '/' + datearray[2];
        }

        $('.ckeditor-padrao').each(function () {

            CKEDITOR.replace(this.id,
                {
                    removePlugins: 'image',
                    extraPlugins: 'wordcount,chart,table,tableresize,tabletools,tableselection,liststyle,font,indent,indentlist,indentblock,pastetools,imagepaste,pastefromgdocs,pastefromword,simage,filebrowser,popup,filetools,image2,base64image,dialog',
                    toolbar: [['Bold', 'Italic', 'Underline'], ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'], ['FontSize'], ['Outdent', 'Indent'], ['Chart'], ['Table'], ['Image'], ['NumberedList', 'BulletedList']],
                    removeDialogTabs: 'image:advanced;image:Link;link:advanced;link:upload',
                    filebrowserImageUploadUrl: ROOT_URL + '/' + $(this).attr("data-controller") + '/EnviarImagem',
                    filebrowserUploadMethod: 'form',
                    uploadUrl: ROOT_URL + '/' + $(this).attr("data-controller") + '/ColarImagem',
                });
        });

        var countModalLoadings = {
            'SuavisaLoadingInicial': { Ativo: 1, HoraInicio: Date.now(), HoraFinal: null, TempoDecorrido: 0 }
        };
        var countModalLoadingsFinalizados = {};

        //Exibe ou não o modal de carregamento
        function showLoadingModal(show, funcao, recursiva) {
            //Se não for informada a função a qual o loading pertence utiliza padrão
            funcao = (typeof funcao !== 'undefined') ? funcao : 'padrao';
            //Se não for informada se a função é recursiva ele marca falso como padrão
            recursiva = (typeof recursiva !== 'undefined') ? recursiva : false;
            //Verifica se a função já tem entrada na lista de loading se não inicia ela com zero
            countModalLoadings[funcao] = (funcao in countModalLoadings) ? countModalLoadings[funcao] : { Ativo: 0, HoraInicio: Date.now(), HoraFinal: null, TempoDecorrido: 0 };

            if (show == true) {
                countModalLoadings[funcao].Ativo++;
                $('#main-loading-dimmer').show();
            } else {
                //Diminui um, mas impede que fique menor que 0, para casos onde o mesmo modal for solicitado a fechar mais de uma vez
                countModalLoadings[funcao].Ativo = countModalLoadings[funcao].Ativo > 0 ? (countModalLoadings[funcao].Ativo - 1) : countModalLoadings[funcao].Ativo;

                if (countModalLoadings[funcao].HoraFinal == null && countModalLoadings[funcao].Ativo == 0) {
                    countModalLoadings[funcao].HoraFinal = Date.now();
                    countModalLoadings[funcao].TempoDecorrido = (countModalLoadings[funcao].HoraFinal - countModalLoadings[funcao].HoraInicio) / 1000;

                    if (recursiva) {
                        if (funcao in countModalLoadingsFinalizados) {
                            countModalLoadingsFinalizados[funcao + " - recursiva"].HoraFinal = countModalLoadings[funcao].HoraFinal;
                            countModalLoadingsFinalizados[funcao + " - recursiva"].TempoDecorrido = (countModalLoadings[funcao].HoraFinal - countModalLoadingsFinalizados[funcao + " - recursiva"].HoraInicio) / 1000;
                        }
                        else {
                            countModalLoadingsFinalizados[funcao + " - recursiva"] = countModalLoadings[funcao];
                        }
                    }
                    else {
                        countModalLoadingsFinalizados[funcao + " - " + countModalLoadings[funcao].HoraFinal] = countModalLoadings[funcao];
                    }

                    delete countModalLoadings[funcao];
                }

                var total = 0;
                Object.keys(countModalLoadings).forEach(function (item) {
                    total += countModalLoadings[item].Ativo;
                });

                if (total == 0) {
                    $('#main-loading-dimmer').hide();
                }
            }
        }

        setTimeout(function () {
            showLoadingModal(false, 'SuavisaLoadingInicial');
        }, 2000);

        function tempoCarregamentoTotal() {
            var horaFinalTotal = Math.max.apply(null, Object.entries(countModalLoadingsFinalizados).map(x => x[1].HoraFinal));
            var horaInicioTotal = Math.min.apply(null, Object.entries(countModalLoadingsFinalizados).map(x => x[1].HoraInicio));

            return (horaFinalTotal - horaInicioTotal) / 1000;
        }
    </script>
</body>
</html>